{% extends "arches_urls.htm" %}

{% load static %}
{% load l10n %}
{% load i18n %}

{% block arches_urls %}
{{ block.super }}
<div class="arches-urls"
     api_user="{% url 'api_user' %}"
     user_profile_manager="{% url 'user_profile_manager' %}"
     dashboard="{% url 'submissions' %}"
     api_resource_blank='(graph) => {return "{% url "api-resource-blank" "----p1" %}".replace("----p1", graph)}'
     api_resource='(graph,pk) => {return "{% url "arches_querysets:api-resource" "----p1" "00000000-0000-0000-0000-000000000000" %}".replace("----p1", graph).replace("00000000-0000-0000-0000-000000000000", pk)}'
     submit_new_site='{% url "submit-new-site" %}'
     >
</div>

{% endblock arches_urls %}
