<!DOCTYPE html>
{% load django_vite %}
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->


<head>

    <title> Vue Dev Template </title>
    <base href="http://localhost:5173/">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/bcrhp/static/favicons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/bcrhp/static/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/bcrhp/static/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/bcrhp/static/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/bcrhp/static/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/bcrhp/static/favicons/apple-touch-icon-180x180.png" />


    <link rel="stylesheet" href="/bcrhp/static/node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="/bcrhp/static/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/bcrhp/static/node_modules/primeicons/primeicons.css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="/bcrhp/static/css/unify.css" rel="stylesheet">
    <link href="/bcrhp/static/css/index.css" rel="stylesheet">
    <link href="/bcrhp/static/node_modules/arches/arches/app/media/css/index.css" rel="stylesheet" />
    <link href="/bcrhp/static/bcrhp/media/css/project.css" rel="stylesheet">
    <!--    <link href="/node_modules/bcgov_arches_common/bcgov_arches_common/media/css/bc_index.css" rel="stylesheet" />-->
    <link href="/bcrhp/static/css/accessibility.css" rel="stylesheet">
    <link href="/bcrhp/static/bcrhp/media/css/tailwind_output.css" rel="stylesheet">
    <style>
        html {
            font-size: 16px;
        }
    </style>

</head>


<body dir="ltr">

    {% vite_hmr_client %}
    {% vite_asset '/bcrhp/static/build/js/views/root_vue.js'%}
    <div id="bcrhp-mounting-point" class="bcgov-vue-mounting-point"></div>

    {% block arches_modules %}
        {% include "arches_urls.htm" %}
    {% endblock arches_modules %}

    <div class="arches-urls" api_user="/bcrhp/api/user/" user_profile_manager="/bcrhp/user"
        dashboard="/bcrhp/submissions/">
    </div>

</body>

</html>